@import "tailwindcss";

body {
  font-family: "Manrope", sans-serif;
}

@theme {
  --color-accent: #99f36c;
  --color-pine-green: #25494a;
  --color-strawberry-red: #dc3545;
  --color-surface: #ffffff;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
